<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="global.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container inner">
      <form method="GET" action="/">
        <fieldset role="search">
          <input
            type="search"
            name="search"
            placeholder="Search usernames"
            aria-label="Search usernames"
          />
          <button type="submit">Search</button>
        </fieldset>
      </form>
      <section>
        <% if (usernames) { %>
        <section class="heading-wrapper">
          <h1><%= title %></h1>
          <a href="/new" aria-label="Add new user"
            ><button type="button" class="outline">Add new user</button></a
          >
        </section>
        <% usernames.forEach(username => { %>
        <article><%= username.username %></article>
        <% }) %>
        <% } %>
      </section>
    </main>
    <% if (isFiltered) { %>
    <footer class="container inner">
      <a href="/" aria-label="See all usernames"
        ><button type="button" class="outline secondary fullwidth-button">
          Show all users
        </button></a
      >
    </footer>
    <% } %>
  </body>
</html>
