* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none !important;
}

.inner {
  max-width: 600px !important;
}

.heading-wrapper {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fullwidth-button {
  width: 100%;
}
